In [6]:
fruits = ["apple","orange","banana","mango"]

In [7]:
for each in fruits:
    print(f"fruit {each}")
print("completed")

fruit apple
fruit orange
fruit banana
fruit mango
completed

In [8]:
for ch in  "hello":
    print(ch)

h
e
l
l
o

In [9]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [10]:
list(range(10,100,5))

[10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95]

In [11]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [26]:
for i in range(5,0,-1):
        print("*"*i)

*****
****
***
**
*

In [28]:
adj =['red', 'blue', 'green']
fruits = ["apple","orange","banana","mango"]

In [29]:
for a in adj:
    for f in fruits:
        print(a,f)

red apple
red orange
red banana
red mango
blue apple
blue orange
blue banana
blue mango
green apple
green orange
green banana
green mango

In [1]:
person ={
    "name" : "vince",
    "age" : 30,
    "gender" : "male"
}

person_list =list(person.items())
person_list

[('name', 'vince'), ('age', 30), ('gender', 'male')]

In [2]:
for each in person_list:
    print(each)

('name', 'vince')
('age', 30)
('gender', 'male')

In [4]:
for (Key,Value) in person_list:
    print(f"Key: {Key} = {Value}")

Key: name = vince
Key: age = 30
Key: gender = male

In [7]:
coord = [[1,2,3],[4,5,6],[7,8,9]]
print(coord)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [10]:
for x,y,z in coord:
    print(x,y,z)

1 2 3
4 5 6
7 8 9

In [15]:
i = int(input("enter a number"))
for x in range(1,11):
    print(f"{i} * {x} ={x*i}")

enter a number 34

34 * 1 =34
34 * 2 =68
34 * 3 =102
34 * 4 =136
34 * 5 =170
34 * 6 =204
34 * 7 =238
34 * 8 =272
34 * 9 =306
34 * 10 =340

In [18]:
numbers = [2,5,3,6,7,33,5,8,68,0,12,4,6,66,9,101,55,32,89] 
evenlist =[]
oddlist = []
for x in numbers:
    if x%2==0:
        evenlist.append(x)
    else:
        oddlist.append(x)
print(f"even numbers are {evenlist}")
print(f"odd numbers are {oddlist}")

even numbers are [2, 6, 8, 68, 0, 12, 4, 6, 66, 32]
odd numbers are [5, 3, 7, 33, 5, 9, 101, 55, 89]

evenlist.append(x) if x%2==0 else oddlist.append(x)